div.products{
    width: 100px;
    display: table;
    margin: auto;
}

div.products h3{
    float:left;
    width: 100%;
    color: white;
    margin: 0px, line-height: 41px;
    text-indent: 40px;
    font-weight: normal;
    font-size: 22px;
}

div.products ul,
div.prodcuts ul li{
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

div.products ul{
    width: 100%;
    backgeound-color: white;
    margin-top: 20px;
}

div.products ul li{
    width: 25%;
}